html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.header-container {
  color: #fff;
}
.nav {
  background-color: #4e4e4e;
  height: 50px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 413px;
  margin: 0 auto;
  font-size: 18px;
}

/* .nav-item-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 46px;
}
.nav-item-btn {
  text-decoration: none;
  color: #fff;
}
.nav-item-contact-btn {
  cursor: not-allowed;
} */

.shadow {
  background-color: #000000d1;
}
.landing-page {
  background-image: url(/assets/section-background.png);
  background-size: cover;
  background-position: center;
}
.landing-page,
shadow {
  width: 100%;
  height: calc(100vh - 50px);
}
.landing-page-container {
  display: flex;
  flex-direction: column;
  gap: 43px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  width: 413px;
  height: 100%;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.heading-landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 359px;
  height: 141px;
  font-size: 36px;
}
.primary-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 276px;
  height: 23px;
  font-size: 18px;
}
.offer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 41px;
  border: 3px solid #fff;
  background: rgba(196, 196, 196, 0);
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  transition: 1s ease;
}
.offer-btn:hover {
  background-color: #fff;
  color: black;
}

.main-section {
  display: flex;
  justify-content: center;
  align-content: center;
}
.primary-main-container {
  background-color: #f1f1f1;
}
.primary-content-wraper,
.secondary-content-wraper {
  width: 960px;
  margin: 0 auto;
}
.primary-main-heading,
.secondary-main-heading {
  font-size: 36px;
  font-weight: 700;
  padding-top: 51px;
  color: #152d41;
}
.specialists-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 413px;
  margin: 0 auto;
  color: #000;
  font-size: 18px;
}
.first-specjalist,
.second-specjalist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.specjalist-pic-Piotr-item,
.specjalist-pic-Marek-item {
  width: 197px;
  height: 197px;
  border: solid 1px black;
  border-radius: 50%;
  background-size: cover;
}
.specjalist-pic-Marek-item {
  background-image: url(/assets/Marek-Nowak.png);
}
.specjalist-pic-Piotr-item {
  background-image: url(/assets/Piotr-Kowalski.png);
  order: 1;
}
.specialists-heading {
  font-weight: 700;
  padding-bottom: 20px;
}
.specjalist-text-Marek,
.specjalist-text-Piotr {
  width: 700px;
  font-size: 18px;
  text-align: justify;
}
/* .specjalist-text-Piotr {
  text-align: right;
} */

.secondary-main-container {
  background-color: #405d78;
  /* height: 689px; */
  color: white;
}
.secondary-main-heading {
  color: #fff;
  padding-bottom: 82px;
}
.offer-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  gap: 63px;
}
.offer-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  width: 198px;
  height: 194px;
  background: #f1f1f1;
  color: #000;
  font-size: 24px;
}
.offer-item:hover {
  transform: scale(1.05);
}
.red-dot {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 100;
  width: 21px;
  height: 21px;
  border: solid 1px #e07a64;
  border-radius: 50%;
  background-color: #e07a64;
}

.footer-container {
  background-color: #4e4e4e;
}
.footer-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 413px;
  height: 71px;
  margin: 0 auto;
}
.footer-text {
  color: white;
}
.icons-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 18px;
}
.icons-btn {
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 360px) {
  .nav-container,
  .primary-content-wraper,
  .secondary-content-wraper,
  .footer-wraper {
    width: 96%;
  }
}

@media screen and (min-width: 768px) {
  .nav-container,
  .primary-content-wraper,
  .secondary-content-wraper,
  .footer-wraper {
    width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .nav-container,
  .primary-content-wraper,
  .secondary-content-wraper,
  .footer-wraper {
    width: 960px;
  }
}
